{% extends 'base.html' %}

{% block title %}Documentos da Solicitação{% endblock %}

{% block content %}

<div style="
    max-width:900px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:14px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
">

    <h1 style="color:#1e3a8a; margin-bottom:10px;">
        Documentos Anexos
    </h1>

    <p style="margin-bottom:25px;">
        <strong>Protocolo:</strong> {{ solicitacao.protocolo }}<br>
        <strong>Evento:</strong> {{ solicitacao.nome_evento }}
    </p>

    

       {% for doc in documentos %}
            <p>
                <a href="{{ doc.url }}" target="_blank">
                    📎 Abrir {{ doc.nome }}
                </a>
            </p>
        {% empty %}
            <p>Nenhum documento anexado.</p>
        {% endfor %}
    
    <a
        href="{% url 'listar_pendentes_opo' %}"
        style="
            display:inline-block;
            margin-top:20px;
            color:#1e3a8a;
            font-weight:bold;
            text-decoration:none;
        "
    >
        ← Voltar
    </a>

</div>

{% endblock %}